
.form-body {
  text-align: center;
  width: auto;
  padding: 40px 40px;
}

.form-container {
  background-color: #a9af9f;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px 16px 20px;
  transition: transform 0.2s;
  width: 400px;
  margin: auto;
  color: #1E212B;
}

label {
  font-size: 15px;
  display: block;
  width: 400px;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #1E212B;
  font-weight: bold;
}

input {
  display: block;
  width: 400px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #D1DAD6;
  border-radius: 3px;
  font-size: 12px;
}

input[type="radio"] {
  display: inline;
  width: 10vh;
}

select {
  display: block;
  width: 400px;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #D1DAD6;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 380px;
  min-height: 100px;
  max-height: 150px;
  border-style: none;
  padding: 8px;
  border-radius: 4px;
}

button {
  cursor: pointer;
  border-radius: 6px;
  background-color: #D1DAD6;
  height: 28px;
  width: 95px;
  margin: 15px;
  border: none;
  transition: .3s;
  color: #1E212B;
}

button:hover {
  background-color:  #cde0ab;
}

h1 {
  font-size: x-large;
  text-align: center;
  padding: 10px;
  color: #1E212B;
}

@media (max-width: 576px) {
  .form-container, label, input, select {
    width: 300px;
  }

  textarea {
    width: 282px;
  }
}

@media (max-width: 420px) {
  .form-container, label, input, select {
    width: 200px;
  }

  textarea {
    width: 180px;
  }

  .banner-container p{
    padding-left: 20px ;
  }
}