.App{
  display: flex;
  background-color: #d1dad6;
  width: auto;
  flex-direction: column;
  min-height: 100vh; 
  color: #1E212B;
}
/*  - I made use of flexbox in my app for a one-dimension layout with column. 
    - The column direction to align my website content from up to down according to my arrangement.
    - Auto width for good website responsiveness and 100 viewport because I designed the website version first.
*/

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #1E212B;
}
/* - I styled the card here using flexbox.
   - aligned content from left to right to center. 
   - justify content from up to down center.
   - flex wrap to make the card move down accordingly and not make the screen width too wide.
   - column gap for space between the column.
*/
